
.container{
    position: relative;
    top: 10px;
    
    
}
.innerbody{
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
    margin: auto;
    margin-top: 4rem;

}
.titlebody{
    display: block;
    text-align: left;
    width: 50%;

}
.content{
    display: block;
    width: 100%;
    text-align: left;


}
.cardimg{
    width: 529px;
    height: 352px;
    object-fit: cover;
}
.btn{
    margin-top: 2rem;
    color: white;
    font-size: 1.1rem;
    border: none;
    background-color: red;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-out;

}
.btn:active{
    background: rgb(32, 147, 189);
    color: black;
}
@media screen and (min-width: 375px) and (max-width:720px){
    .container{
        position: relative;
        top: 10px;
    }
    .innerbody{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        margin: auto;
        margin-top: 4rem;
    }
    .cardimg{
        width: 95%;
        height: 60%;
        object-fit: cover;
    }
    .titlebody{
        display: block;
        text-align: left;
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }
}