
.container{
    position: relative;
    top: 6rem;
    bottom: 0;
    background-color: rgb(39, 38, 38);
    color: white;
    
    width: 100%;
  
}
.inner{
    padding: 32px 0 2px 0;
}
.logoimg{
    width: 140px;
}
.list{
    list-style: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    flex-wrap: wrap;
    line-height: 0;
}
.address{

}
@media screen and (min-width: 375px) and (max-width:720px) {
    .Footer_inner__8mHSZ {
        padding: 32px 0 2px 0;
        width: 86%;
        margin: auto;
    }
}