.App {
  text-align: center;
}
body{
  scroll-behavior: smooth;
  /* You can specify the scroll duration here, e.g., 0.5s for a half-second scroll animation */
  scroll-behavior: smooth 80s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.buton-cont{
  

}
#btn{
  border: none;
  font-size:1.6rem ;
  background-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
